{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Vous êtes connecté(e) en tant que
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Déconnexion</a>
				</div>
			{% endif %}

			<h1 class="h3 mb-3 font-weight-normal">Connectez vous à votre espace.</h1>
			<label for="inputEmail">Entrez votre adresse Email</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			<label for="inputPassword">Mot de passe</label>
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


			<button class="btn btn-lg btn-primary mt-4" type="submit">
				Valider
			</button>
		</form>

		<hr class="my-4">


		<img src="{{ asset('assets/images/room2.jpg')}}" alt="salle de sport" style="max-width: 35rem;" class="mx-auto d-block mt-4">

	</div>


{% endblock %}
