{% extends 'base.html.twig' %}

{% block title %}Liste des franchisés
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Liste des Franchisés avec leur structures et choix du contrat</h1>
		<h3>Dans cette vue, vous pouvez désactiver/activer un franchisé.</h3>
		<h3>Vous pouvez lister les structures par rapport à leur franchisé.</h3>


		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Société</th>
					<th>Ville</th>
					<th>Contact</th>
					<th>Contrat</th>
					<th>Statut</th>
					<th>Actions et Contrats</th>
					<th>Structures</th>

				</tr>
			</thead>
			<tbody>


				{% for partner in partners %}


					<tr>


						<td>{{ partner.id }}</td>
						<td>{{ partner.user.name }}</td>
						<td>{{ partner.user.city }}</td>
						<td>{{ partner.user.contact }}</td>
						<td>{{ partner.contract }}</td>


						<td>{{ partner.isEnable ? 'Actif' : 'Désactivé' }}</td>
						<td>
							{# <a href="{{ path('app_partner_show', {'id': partner.id}) }}">show</a> #}
							<a href="{{ path('app_partner_edit', {'id': partner.id}) }}">Activer/Désactiver</a>
						</td>
						{% for sporthall in partner.sporthalls %}
							<td>{{ sporthall.user.name }}</td>
						{% else %}

							<td>Pas de structure</td>


						{% endfor %}


					</tr>


				{% else %}
					<tr>
						<td colspan="5">Pas d'enregistrement</td>
					</tr>
				{% endfor %}
			</tbody>


		</table>

		{# <a href="{{ path('app_partner_new') }}">Create new</a> #}
		<div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(partners) }}
		</div>

	</div>

{% endblock %}
