{% extends 'base.html.twig' %}

{% block title %}Accueil PlanetBody
{% endblock %}

{% block body %}

	<div class="container mt-4">
		{% if app.user %}
			{% if is_granted('ROLE_SPORTHALL') %}
				{% if  app.user.sporthalls.isEnable == false  %}

					<h3>Merci de votre inscription, nous traitons votre demande.</h3>

					<div class="mb-4">
						<a class="btn btn-secondary btn-lg mt-4" href="{{ path('app_logout') }}">Me déconnecter</a>
					</div>
				{% endif %}
			{% endif %}
		{% endif %}
		{% if app.user %}
			{% if is_granted('ROLE_PARTNER') %}
				{% if  app.user.partners.isEnable == false %}

					<h3>Merci de votre inscription, nous traitons votre demande.</h3>

					<div class="mb-4">
						<a class="btn btn-secondary btn-lg mt-4" href="{{ path('app_logout') }}">Me déconnecter</a>
					</div>

				{% endif %}
			{% endif %}
		{% endif %}


		<div class="jumbotron">
			<h1 class="display-4">PlanetBody
			</h1>
			<img src="{{ asset('assets/images/logopb.png')}}" alt="logo" style="max-width: 35rem;" class="mx-auto d-block" data-aos="fade-right" data-aos-duration="50000">


			<p class="lead mt-4">Afin de proursuivre son développement, PlanetBody est à la recherche des nouveaux talents.</p>

			<hr class="my-4">

			<img src="{{ asset('assets/images/room.jpg')}}" alt="salle de sport" style="max-width: 35rem;" class="mx-auto d-block" data-aos="fade-left" data-aos-duration="50000">


			<hr class="my-4">

			<h2>Vous êtes déjà membre et vous souhaitez profiter de vos services.</h2>
			<p class="mt-4">Vous voulez gérer votre compte adhérent PlanetBody:</p>

			<a class="btn btn-primary btn-lg" href="{{ path('app_login')}}" role="button">Cliquez ici!</a>


			<hr class="my-4">
			<h2>Vous voulez rejoindre notre équipe et devenir membre PlanetBody pour profiter de l'ensemble de
				<a href=" {{ path('app_permission_index')}} ">nos prestations</a>. Vous bénéfierez de tous les avantages de nos franchisés:</h2>


			<a class="btn btn-primary btn-lg mt-4" href="{{ path('app_contact')}}" role="button">
				<strong>Ouvrir un club sous franchise</strong>
			</a>


			<a class="btn btn-primary btn-lg mt-4" href="{{ path('app_claim')}}" role="button">Demande d'informations</a>


			<a class="btn btn-primary btn-lg mt-4" href="{{ path('app_showpermission_index')}}" role="button">Voir nos offres</a>


			<hr class="my-4">
			<p>Une réclamation? Contactez-nous. Notre équipe répondra au plus vite à vos sollicitations.</p>

			<a class="btn btn-primary btn-lg" href="{{ path('app_claim')}}" role="button">Réclamation</a>


			<hr class="my-4">
			<div class="container mt-4">
				<div class="search-wrapper">
					<label for="search">Recherchez votre partenaire</label>
					<input type="search" id="search" data-search>
				</div>
				<div class="user-cards mt-4" data-user-cards-container style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;	align-items: stretch;align-content: space-around;"></div>

				{# The template is for the search-bar #}
				<template data-user-template>
					<div class="card border-primary mb-3" style="width:300px;">
						<div class="card-header bg-secondary" data-header></div>
						<div class="card-body bg-light" data-body2></div>
						<div class="card-body bg-light" data-body></div>
						<a class="btn btn-primary btn-sm row my-2 ms-2  " href="{{path('readme')}}" role="button" style="width:100px;"></a>
					</div>
				</template>
			</div>
			<hr class="my-4">
			<h2>Recherche avec des filtres des partenaires actifs ou désactivés</h2>

			{# This section is for the filter isEnable with Partners #}
			{# cette section permet de créer les boutons filtres #}
			<section
				id="filters">
				{# Je crée des div avec un id pour les appeler plus tard dans le js #}
				<div id="all">Tout</div>
				<div id="enable">Franchisés actifs</div>
				<div id="disable">Franchisés désactivés</div>

			</section>
			{# Création de la gallerie de cartes #}
			<div id="gallery ">
				<div class="container mt-4 ">
					<div
						class="row ">
						{# Je déclare active comme variable grâce à TWIG #}

						{% for partner in partners %}
							{% set active = "" %}
							{% if partner.isEnable  %}
								{% set active = true %}
							{% endif %}
							{# Mise en place de la classe active avec le CSS et inactive #}
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-3 {{ active == true ? 'active' : '' }} partner">

								<article class="card border-primary mb-3 " style="max-width: 20rem; ">
									<div class="card-header bg-secondary">
										<h1>Partenaire N°:
											{{ partner.user.id}}
										</h1>
									</div>
									<div class="card-body bg-light">
										<h4 class="card-title">{{ partner.user.name}}
										</h4>
										<p class="card-text">{{ partner.user.address }}</p>
										<p class="card-text">{{  partner.user.zipcode }}</p>
										<p class="card-text">{{  partner.user.city }}</p>
										<p class="card-text">
											{% if partner.isEnable %}Actif
											{% else %}
												Inactif
											{% endif %}
										</p>
									</div>
								</article>
							</div>

						{% endfor %}
					</div>
				</div>
			</div>
		</div>


	</div>
</div>
<script src="{{ asset('assets/js/script2.js') }}"></script>{% endblock %}
