{% extends 'base.html.twig' %}

{% block title %}Activer une structure
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Désactiver / Activer un compte</h1>
		<h2>Nom de la salle de sport:{{ sporthall.user.name }}

		</h2>
		<h3>N°:{{ sporthall.id }}</h3>


		{{ include('pages/sporthall/_form.html.twig', {'button_label': 'Enregistrer'}) }}

		<a class="btn btn-secondary btn-lg mt-4" href="{{ path('home_index') }}">Retour à l'accueil</a>


		{{ include('pages/sporthall/_delete_form.html.twig') }}</div>

{% endblock %}
