{% extends 'base.html.twig' %}

{% block title %}Liste des structures
{% endblock %}

{% block body %}
	{# {% if app.user.sporthalls.partner.isEnable == true %} #}

	<div class="container mt-4">
		<h1>Liste des salles de sport</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom du franchisé</th>
					<th>Société</th>
					<th>Ville</th>
					<th>Contact</th>
					<th>Statut</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{# {% for sporthall in app.user.sporthalls %} #}
				{# A mettre en place  #}

					{% for sporthall in sporthalls %}
						<tr>
							<td>
						{{ sporthall.id }}
						</td>
							<td>
						{{ sporthall.partners.user.name }}
						</td>


							<td>
						{{ sporthall.user.name }}
						</td>
							<td>
						{{ sporthall.user.city }}
						</td>
							<td>
						{{ sporthall.user.contact }}
						</td>
							<td>
						{{ sporthall.isEnable ? 'Activé' : 'Désactivé' }}
						</td>
							<td>
							{# <a href="{{ path('app_sporthall_show', {'id': sporthall.id}) }}">show</a> #}
								<a href="{{ path('app_sporthall_edit', {'id': sporthall.id}) }}"> Activer/Désactiver</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">Aucun enregistrement</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{# <a href="{{ path('app_sporthall_new') }}">Create new</a> #}
		<div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(sporthalls) }}
		</div>

	</div>
	{# {% endif %} #}
{% endblock %}
