{% extends 'base.html.twig' %}

{% block title %}Liste des permissions
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Liste des Permissions existantes</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Dénomination</th>
					<th>Statut</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for permission in permissions %}
					<tr>
						<td>{{ permission.id }}</td>
						<td>{{ permission.name }}</td>
						<td>{{ permission.isEnable ? 'Active' : 'Désactivée' }}</td>
						<td>
							{# <a href="{{ path('app_permission_show', {'id': permission.id}) }}">Voir</a> #}
							<a href="{{ path('app_permission_edit', {'id': permission.id}) }}">Activer/Désactiver</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">Pas d'enregistrement</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a class="btn btn-primary btn-lg mt-4" href="{{ path('app_permission_new') }}">Créer une nouvelle option</a>
		<div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(permissions) }}
		</div>

	</div>

{% endblock %}
