{% extends 'base.html.twig' %}

{% block title %}Mailing
{% endblock %}

{% block body %}
	<h1>Mailing</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ mailing.id }}</td>
			</tr>
			<tr>
				<th>Title</th>
				<td>{{ mailing.title }}</td>
			</tr>
			<tr>
				<th>Content</th>
				<td>{{ mailing.content }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_mailing_index') }}">back to list</a>

	<a href="{{ path('app_mailing_edit', {'id': mailing.id}) }}">edit</a>

	{{ include('pages/mailing/_delete_form.html.twig') }}
{% endblock %}
