{% extends 'base.html.twig' %}

{% block title %}Sentmail index{% endblock %}

{% block body %}
    <h1>Sentmail index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sentmail in sentmails %}
            <tr>
                <td>{{ sentmail.id }}</td>
                <td>{{ sentmail.createdAt ? sentmail.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_sentmail_show', {'id': sentmail.id}) }}">show</a>
                    <a href="{{ path('app_sentmail_edit', {'id': sentmail.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sentmail_new') }}">Create new</a>
{% endblock %}
