{% extends 'base.html.twig' %}

{% block title %}Liste des clients
{% endblock %}

{% block body %}
	<h1>Liste des clients</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id User</th>
				<th>CONTRAT A RELIER</th>
				<th>Email</th>
				<th>Statut
				</th>
				{# <th>Password</th> #}
				<th>Société</th>
				<th>Adresse</th>
				<th>Code</th>
				<th>Ville</th>
				<th>Création</th>
				<th>Contact</th>
				{# <th>Contract</th> #}
				{# <th>actions</th> #}

			</tr>
		</thead>


		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.sporthalls }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					{# <td>{{ user.password }}</td> #}
					<td>{{ user.name }}</td>
					<td>{{ user.address }}</td>
					<td>{{ user.zipcode }}</td>
					<td>{{ user.city }}</td>
					<td>{{ user.createdAt ? user.createdAt|date('d-m-Y ') : '' }}</td>
					<td>{{ user.contact }}</td>
					{# {% for partner in user.partners %}
																																																																																						<td>{{ partner.contract }}</td>
																																																																																					{% endfor %} #}

					{# <td>
																																																																																																										<a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
																																																																																																										<a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
																																																																																																									</td> #}
				</tr>

			{% else %}
				<tr>
					<td colspan="11">Pas d'enregistrement</td>
				</tr>
			{% endfor %}

		</tbody>
	</tbody>
</table>
<div class="navigation d-flex justify-content-center mt-4">
	{{ knp_pagination_render(users) }}
</div>

<hr class="my-4">

<h3>Pour respecter la marche à suivre</h3>
<p>Il faut relier le contrat à la bonne adresse mail de la salle de sport.</p>
<a class="btn btn-primary btn-lg mt-4" href="{{ path('app_sporthall_new') }}">Cliquer ici! Pour une salle de sport</a></div>{% endblock %}
