{% extends 'base.html.twig' %}

{% block title %}Liste des clients
{% endblock %}

{% block body %}
	<h1>Liste des clients</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id User</th>
				<th>Id OTO</th>
				<th>Email</th>
				<th>Roles</th>
				{# <th>Password</th> #}
				<th>Name</th>
				<th>Address</th>
				<th>Zipcode</th>
				<th>City</th>
				<th>Created_at</th>
				<th>Contact</th>
				<th>Contract</th>
				<th>actions</th>
			</tr>
		</thead>


		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.partners  }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					{# <td>{{ user.password }}</td> #}
					<td>{{ user.name }}</td>
					<td>{{ user.address }}</td>
					<td>{{ user.zipcode }}</td>
					<td>{{ user.city }}</td>
					<td>{{ user.createdAt ? user.createdAt|date('d-m-Y ') : '' }}</td>
					<td>{{ user.contact }}</td>
					{% for partner in user.partners %}
						<td>{{ partner.contract }}</td>
					{% endfor %}

					<td>
						<a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
						<a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
					</td>
				</tr>

			{% else %}
				<tr>
					<td colspan="11">no records found</td>
				</tr>
			{% endfor %}

		</tbody>
	</tbody>
</table>
<div class="navigation d-flex justify-content-center mt-4">
	{{ knp_pagination_render(mailings) }}
</div>

<a href="{{ path('app_user_new') }}">Create new</a>{% endblock %}
